<p id="notice"><%= notice %></p>

<div class="bg-gradient-to-t from-slate-500 p-4 shadow-2xl ring-1 ring-gray-900/5 rounded-md">
  <div class="text-center font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-tl from-cyan-200 to-slate-800">Hire Me</div>
  <br>
  <p class="text-center">Thank you Robyn Purvin for compiling this information.  <br>
    This <a class="text-cyan-700 underline" href="https://github.com/Reuben-Davison/hire_me">opensource project</a>'s purpose is to allow boot camp grads an easy way of accessing companies that hire directly post graduation. <br> 
    Feel free to add to the list. <br>
    Signing up will allow you to see your short-listed and applied to companies.   <br>
  
   </p>
  <div class="my-5 flex justify-end">
    <button class=" text-white text-xl rounded-full bg-cyan-700 shadow-lg mx-1 px-2 py-1 hover:opacity-50"><%= link_to 'Create account', new_user_path %></button>
    <button class=" text-white text-xl rounded-full bg-cyan-700 shadow-lg mx-1 px-2 py-1 hover:opacity-50"><%= link_to 'Sign In', new_user_path %></button>
  </div>

  <div class="table w-full bg-cyan-700 rounded-lg" >
    <div class="table-header-group">
      <div class="table-row text-center text-white font-bold text-xl">
        <div class="table-cell">
          <button class=" peer p-1 rounded-lg border-2 ">Industry &darr;</button>
          <!-- not sure why justify center is not working for drop down menu -->
            <div class="text-center hidden absolute peer-hover:flex hover:flex rounded-md flex-col text-lg justify-center bg-cyan-800/95 drop-shadow-lg">
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Accounting</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Agriculture</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Apparel</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Aviation</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Banking</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Blockchain</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">CivicTech</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Cannabis</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Childcare</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Consultancy</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Construction</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Design</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">eCommerce</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Education</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">eSports</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">FinTech</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Fitness</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Food</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Oil/Gas</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Gaming</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">GreenTech</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Healthcare</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Information</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Internet</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">LegalTech</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Marketing</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Music</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Publishing</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">RealEstate</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Retail</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Nonprofit</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Software</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Travel</a></div>
              <div><a class=" p-1 rounded-md hover:bg-cyan-900" href="#">Other</a></div>
            </div>
        </div>
        <%# <div class="table-cell">Name</div> %>
        <div class="table-cell">Description</div>
        <div class="table-cell">Location</div>
        <div class="table-cell">Size</div>
      </div>
    </div>
    <div class="table-row-group">
      <% @companies.each do |company| %>
      <div class="table-row even:bg-slate-100 odd:bg-slate-50 text-center">
        <div class="table-cell"><%= company.industry %></div>
        <div class="table-cell p-3">
          <span class="flex flex-row justify-center items-center underline font-bold text-cyan-700 hover:text-lg">
          <a href="<%=company.website%>"><%= company.name %></a></span>
          <%= company.description %>
        </div>
        <!-- all of this logic needs to be moved to model -->
        <% if company.location_city != company.location_state %> 
          <div class="table-cell"><%= company.location_city %>, <%= company.location_state %></div>
        <% else %>
          <div class="table-cell"><%= company.location_city %></div>
        <% end %>
        <div class="table-cell"><%= company.company_size %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center font-semibold"><%= will_paginate @companies %></div>
