<p id="notice"><%= notice %></p>

<div class="bg-gradient-to-t from-slate-500 px-4 py-4 shadow-xl ring-1 ring-gray-900/5 rounded-md">
  <div class="text-4xl text-cyan-900 text-center  font-semibold font- my-2">Hire Me </div>
<br>
  <div>
    <button class="text-right text-white text-xl rounded-full bg-cyan-900 shadow-lg px-2 py-1 hover:opacity-50"><%= link_to 'Create account', new_user_path %></button>
  </div>

  <br>
  <div class="table w-full" >
    <div class="table-header-group">
      <div class="table-row">
        <div class="table-cell text-left">Name</div>
        <div class="table-cell text-left">Location</div>
        <div class="table-cell text-left">Description</div>
        <div class="table-cell text-left">Industry</div>
        <div class="table-cell text-left">Size</div>
      </div>
    </div>
    <div class="table-row-group">
      <% @companies.each do |company| %>
      <div class="table-row even:bg-stone-100 odd:bg-stone-50">
        <div class="table-cell"><a href="<%=company.website%>"><%= company.name %></a></div>
        <div class="table-cell"><%= company.location_city %>, <%= company.location_state %></div>
        <div class="table-cell"><%= company.description %></div>
        <div class="table-cell"><%= company.industry %></div>
        <div class="table-cell"><%= company.company_size %></div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center font-semibold"><%= will_paginate @companies %></div>
