<p id="notice"><%= notice %></p>
<br>
<hr>
<h1 class= "text-3xl">Companies that hire out of Turing</h1>
<table class= "min-w-full">
  <thead class= "bg-white border-b" >
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Description</th>
      <th>Website</th>
      <th>Industry</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @companies %>
      <% @companies.each do |company| %>
        <tr class="bg-gray-100 border-b">
          <td><%= company.name %></td>
          <td><%= company.location_city %></td>
          <td><%= company.location_state %></td>
          <td><%= company.description %></td>
          <td><%= company.website %></td>
          <td><%= company.industry %></td>
          <td><%= company.company_size %></td>
        </tr>
      <% end %>
    <%= will_paginate @companies %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>