<!DOCTYPE html>
<html>
  <head>
    <title>HireMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="flex flex-col h-full bg-gray-200">
    <main class="container mx-auto m-8 flex-1">
      <%= yield %>
    </main>
  </body>
</html>
